<!doctype html>
<html lang="en">
<head>
           <title>Leave Request</title>
           <% include ../common/header %>
           <% include ../common/scripts %>
           <% include ../common/styles %>

        <style>

                .card .header2row
                {
                        padding: 15px 15px 0;
                }

		.navbar .navbar-reverse
		{
			display: inline-block;
			float: none;
			vertical-align: top;
		}

		.navbar .navbar-collapse
		{
			text-align: center;
		}

		table, tr, td
		{
		    border: 0px;
		    padding: 2px;
		}

		table
		{
			border-spacing: 0px;
		}

		hr
		{
			border: none;
			height: 1px;
			color: #333;
			background-color: #333;
		}

                 /* visited link */
		
		a
		{
			color: black;
		}

                a:visited {
                    color: black;
                }

                /* mouse over link */
                a:hover {
                    color: black;
                    text-decoration: underline;
                }

                /* selected link */
                a:active 
		{
                    color: black;
                }

	</style>


</head>
<body onload="changeHashOnLoad();">

<div class="wrapper">
    <div class="sidebar" style ="background-color: transparent;color: #006666">
        <div class="sidebar-wrapper">
        <% include ../common/logo %>
            <ul class="nav">
                <li>
                    <a href="/admin-dashboard/adminDashboard/admindashboard">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <% if(emp_access == "A1"){%>
                    <a href="/employeeModule/employeeDetails/employeeDetails">
                        <i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}else{%>
                    <a href="/employeeModule/employeeDetails/employeeAddpersonal">
                        <i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}%>
                </li>

                <% if(emp_access == "L1" || emp_access == "L2" ){%>
                <li>
                    <a href="/projectModule/projectDetails/customercreation">
                        <i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
                <%}%>

                <% if(emp_access == "F1"){%>
                <li>
                    <a href="/projectModule/projectDetails/projectDocumentsView">
                        <i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
                <%}%>

                <% if(emp_access != "F1"){%>
                <li>
                   <a href="/appraisalModule/viewAppraisal/viewAppraisal">
                        <i class="material-icons">thumbs_up_down</i>
                        <p>Appraisal Module</p>
                    </a>
                </li>
                <%}%>

                <li>
                    <a href="/cmsModule/cms/cms">
                        <i class="material-icons">file_upload</i>
                        <p>E-Docket</p>
                    </a>
                </li>

                <% if(emp_access == "N1"){%>
                <li>
                    <a href="/assetModule/assetDetails/assetDetails">
                        <i class="material-icons">phonelink</i>
                        <p>Asset Management</p>
                    </a>
                </li>
                <%}%>

                <li class="active">
                    <a href="/requestModule/applyLeave/applyLeave">
                        <i class="material-icons">event</i>
                        <p>Leave Requests</p>
                    </a>
                </li>
                <% if(emp_access == "A1" || emp_access == "F1"){%>
                <li>
                    <a href="/holidaysModule/holidays/viewHolidays">
                        <i class="material-icons">date_range</i>
                        <p>Holiday Management</p>
                    </a>
                </li>
                <%}%>

                <% if(emp_access != 'A1'){ %>
                <li>
                   <% if(emp_access != "F1"){ %>
                    <a href="/travelModule/travel/travel">
                        <i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                  <%}else{%>
                    <a href="/travelModule/travel/travelHrReqQueue">
                        <i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                   <% } %>
                </li>
                <% } %>


                <% if( emp_access== 'F1'){ %>
                <li>
                    <a href="/invoiceModule/invoiceDetails/chooseinvoiceDetails">
                        <i class="material-icons">storage</i>
                        <p>Invoice Management</p>
                    </a>
                </li>
                <% } %>

                <% if(emp_access != 'A1'){ %>
                <li>
                   <% if(emp_access != "F1" ){ %>
                    <a href="/reimbursementModule/initiateRem/initiateRem">
                        <i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
                   <%}else{%>
                    <a href="/reimbursementModule/initiateRem/reimburseHrReqQueue">
                        <i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
                   <%}%>
                </li>
                <% } %>
            </ul>
        </div>
    </div>


  <div class="main-panel">
     <div class="container-fluid">
                <% include ../common/userBar %>
                <br>
      <div class="content">
      	<div class="container-fluid">
         <div class="row">
	    <div class="col">
	       <div class="card">
                  <div class="header2row">
                     <nav class="navbar navbar-inverse">
                        <ul class="nav navbar-nav" style="color:#669999">
				<% if(emp_access != "A1") {%>
				    <li><a href="/requestModule/applyLeave/applyLeave">Apply Leave</a></li>
				    <li><a href="/requestModule/viewLeave/viewLeave">View/Cancel Leaves</a></li>
				    <li><a href="/requestModule/approveLeaves/approveLeaves">Approve/Reject Leaves</a></li>
                                    <li><a href="/requestModule/applyLeave/empspecficLeaveBalance">Leave Balance</a></li>
				    <li><a href="/requestModule/applyLeave/reportingListBalance">Team Leave Balance</a></li>
				    <li><a href="/holidaysModule/holidays/viewHolidaysLeave">View Holidays</a></li>
				    <li><a href="/requestModule/leaveFAQDetails/leaveFAQDetails"><span style="color:#ff6600">FAQ</span></a></li>
				<% } else { %>
				    <li><a href="/requestModule/applyLeave/applyLeave">Apply Leave</a></li>
				    <li><a href="/requestModule/viewLeave/viewLeave">View/Cancel Leaves</a></li>
				    <li><a href="/requestModule/approveLeaves/approveLeaves">Approve/Reject Leaves</a></li>
				    <li><a href="/holidaysModule/holidays/viewHolidaysLeave">View Holidays</a></li>
				    <li><a href="/requestModule/applyLeave/markLeave">Mark Leave</a></li>
				    <li><a href="/requestModule/applyLeave/unmarkLeave">UnMark Leave</a></li>
				    <li><a href="/requestModule/applyLeave/viewEmpLeave">View Employee Leave Data</a></li>
				    <li><a href="/requestModule/applyLeave/EmployeeLeaveBalance">View Employee Leave Balance</a></li>
				    <li><a href="/requestModule/leaveFAQDetails/leaveFAQDetails"><span style="color:#ff6600">FAQ</span></a></li>
				<% } %>

			</ul>
	     </nav>
		  </div>

	<div class="content">
        <hr/>
			<h4 class="title">Leave Application FAQ's</h4>
        <hr/>
        
	<br>
	<p>Here are some of our most commonly asked questions. </p>	
	<br>
   
	   <div>
	    	<div class="panel">
	    		<div class="panel-heading" style="background-color: lightgrey;">
				<div class="submenuhead" >
					<a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#a">
					<h4 class="panel-title">
					Q1. What is leave requests?
	        			</h4>
					</a>
	    			</div>
	    		</div>
	    	</div>

	       <div id="a" class="panel-collapse collapse">
	               <div class="panel-body" style="margin-top: -20px;">
				<p>Before going on a leave one has to apply for leave in the leave requests page. Your leave application will be submitted to your manager for approval.</p>

	      		</div>
	    	</div>
	  </div>



           <div>
                <div class="panel">
                        <div class="panel-heading" style="background-color: lightgrey;">
                                <div class="submenuhead" >
                                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#b">
                                        <h4 class="panel-title">
					Q2. Where can I see my submitted leaves?
                                        </h4>
                                        </a>
                                </div>
                        </div>
                </div>

               <div id="b" class="panel-collapse collapse">
                       <div class="panel-body" style="margin-top: -20px;">
	                <p>You can see the submitted leaves in View/Cancel leaves link.
                        </p>
                        </div>
                </div>
          </div>



           <div>
                <div class="panel">
                        <div class="panel-heading" style="background-color: lightgrey;">
                                <div class="submenuhead" >
                                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#c">
                                        <h4 class="panel-title">
					Q3. Can I cancel my submitted leaves?
                                        </h4>
                                        </a>
                                </div>
                        </div>
                </div>

               <div id="c" class="panel-collapse collapse">
                       <div class="panel-body" style="margin-top: -20px;">
                       <p>Yes, you can cancel the submitted leaves if it has not been approved by your manager and your leave date has not passed.</p>
                        </div>
                </div>
          </div>


           <div>
                <div class="panel">
                        <div class="panel-heading" style="background-color: lightgrey;">
                                <div class="submenuhead" >
                                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#d">
                                        <h4 class="panel-title">
					Q4.Can the submitted leaves be rejected?
                                        </h4>
                                        </a>
                                </div>
                        </div>
                </div>

               <div id="d" class="panel-collapse collapse">
                       <div class="panel-body" style="margin-top: -20px;">
		       <p>Yes, your manager has option to either accept or reject your leave application.</p>
                        </div>
                </div>
          </div>


           <div>
                <div class="panel">
                        <div class="panel-heading" style="background-color: lightgrey;">
                                <div class="submenuhead" >
                                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#e">
                                        <h4 class="panel-title">
					Q5. Can I apply leave for the same date range twice?
                                        </h4>
                                        </a>
                                </div>
                        </div>
                </div>

               <div id="e" class="panel-collapse collapse">
                       <div class="panel-body" style="margin-top: -20px;">
		       <p>No, you will not be able to submit since there are overlapping of leaves.</p>
                        </div>
                </div>
          </div>


           <div>
                <div class="panel">
                        <div class="panel-heading" style="background-color: lightgrey;">
                                <div class="submenuhead" >
                                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#f">
                                        <h4 class="panel-title">
					Q6. Can I apply leave on a holiday?
                                        </h4>
                                        </a>
                                </div>
                        </div>
                </div>

               <div id="f" class="panel-collapse collapse">
                       <div class="panel-body" style="margin-top: -20px;">
		       <p>No it is not possible to apply leave on a holiday. All the holidays list has been blocked for selection while applying leave.</p>
                        </div>
                </div>
          </div>



           <div>
                <div class="panel">
                        <div class="panel-heading" style="background-color: lightgrey;">
                                <div class="submenuhead" >
                                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#g">
                                        <h4 class="panel-title">
                                        Q7. What if my all quaterly leave balance is utilised for that quater? Will i be able apply leave?
                                        </h4>
                                        </a>
                                </div>
                        </div>
                </div>

               <div id="g" class="panel-collapse collapse">
                       <div class="panel-body" style="margin-top: -20px;">
                       <p>Yes, you can apply for the leave which will be borrowed from the next quarter which will be treated as Advance leave.</p>
                        </div>
                </div>
          </div>


           <div>
                <div class="panel">
                        <div class="panel-heading" style="background-color: lightgrey;">
                                <div class="submenuhead" >
                                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#h">
                                        <h4 class="panel-title">
                                        Q8. What is the maximum number of days we can avail leave?
                                        </h4>
                                        </a>
                                </div>
                        </div>
                </div>

               <div id="h" class="panel-collapse collapse">
                       <div class="panel-body" style="margin-top: -20px;">
                       <p>One can apply maximum of 10 days at an extent for Earned Leave and maximum of 4 leaves for Sick Leave (documents has to produced to admin/manager if your Sick Leave exceeds 4 days).</p>
                        </div>
                </div>
          </div>


           <div>
                <div class="panel">
                        <div class="panel-heading" style="background-color: lightgrey;">
                                <div class="submenuhead" >
                                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#i">
                                        <h4 class="panel-title">
                                        Q9. Can I apply for a backdated Leave?
                                        </h4>
                                        </a>
                                </div>
                        </div>
                </div>

               <div id="i" class="panel-collapse collapse">
                       <div class="panel-body" style="margin-top: -20px;">
                       <p>Yes, Backdated leave can be applied to an extent of 1 Month.</p>
                        </div>
                </div>
          </div>


           <div>
                <div class="panel">
                        <div class="panel-heading" style="background-color: lightgrey;">
                                <div class="submenuhead" >
                                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#j">
                                        <h4 class="panel-title">
                                        Q10. Where can I view my Leave Data?
                                        </h4>
                                        </a>
                                </div>
                        </div>
                </div>

               <div id="j" class="panel-collapse collapse">
                       <div class="panel-body" style="margin-top: -20px;">
                       <p>You can view your leave data either in the dashboard (Quick links) or View Leaves in Leave Request Module.</p>
                        </div>
                </div>
          </div>


           <div>
                <div class="panel">
                        <div class="panel-heading" style="background-color: lightgrey;">
                                <div class="submenuhead" >
                                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#k">
                                        <h4 class="panel-title">
                                        Q11. Will I be tracked if I dont apply leave ?
                                        </h4>
                                        </a>
                                </div>
                        </div>
                </div>

               <div id="k" class="panel-collapse collapse">
                       <div class="panel-body" style="margin-top: -20px;">
                       <p>Yes , Admin will mark you as absent and initiate a leave on your behalf for that day if you fail to apply leave.</p>
                        </div>
                </div>
          </div>

			  </div>
		       </div>
		   </div>
		</div>
	     </div>
	  </div>
	  </div>
	   <% include ../common/footer %>
</div>


</body>
	<!--   Core JS Files   -->
	<script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
	<!--<script src="/js/bootstrap.min.js" type="text/javascript"></script>-->
	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/js/bootstrap-checkbox-radio-switch.js"></script>
	<!--  Charts Plugin -->
	<script src="/js/chartist.min.js"></script>
	<!--  Notifications Plugin    -->
	<script src="/js/bootstrap-notify.js"></script>
	<!--  Google Maps Plugin    -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/js/light-bootstrap-dashboard.js"></script>
	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="/js/demo.js"></script>


    <% if(success!="") { %>
       <script type="text/javascript">
        $(document).ready(function(){

                demo.initChartist();

                $.notify({
                icon: 'fa fa-exclamation-circle',
                message:"<b><%= success %></b>"

            },{
                type: 'info',
                timer: 500
            });

        });
        </script>
    <%}%>

    <% if(error!="") { %>
      <script type="text/javascript">
      $(document).ready(function(){
      demo.initChartist();
      $.notify({
      icon: 'fa fa-exclamation-circle',
      message:"<b><%= error %></b>"
      },{
         type: 'danger',
         timer: 500
      });
      });
      </script>
   <%}%>

</html>
