<!doctype html>
<html lang="en">
<head>
  <title>Amber - Reset Password</title>
  <% include ../common/header %>
  <% include ../common/scripts %>
  <% include ../common/styles %>
    

    <script type='text/javascript'>


    function comparepass()
    {

      var newpass = document.getElementById("newpass").value;
      var conpass = document.getElementById("conpass").value;

      if(newpass != "")
      { 
        if(conpass != "")
        {

          if(newpass != conpass )
          {
	     document.getElementById("resetPass").disabled = true;
             document.getElementById("newpass").focus();
             demo.initChartist();
             $.notify({
             icon: 'pe-7s-gift',
             message: "New Password should be same as confirm Password"
             },{
             type: 'info',
             timer: 500
             });
             return false;

          }     
	  else
	  {
	     document.getElementById("resetPass").disabled = false;
	  }
        }
      }
    }

    function comparepass1()
    {

      var newpass = document.getElementById("newpass").value;
      var conpass = document.getElementById("conpass").value;

      if(newpass != "")
      {
        if(conpass != "")
        {

          if(newpass != conpass )
          {
	     document.getElementById("resetPass").disabled = true;
             document.getElementById("conpass").focus();
             demo.initChartist();
             $.notify({
             icon: 'pe-7s-gift',
             message: "Confirm Password should be same as New Password"
             },{
             type: 'info',
             timer: 500
             });
             return false;
          }
	  else
	  {
	     document.getElementById("resetPass").disabled = false;
	  }
        }
      }
    }



    </script>

</head>

<body style="background-color: #008080 !important;">
  <div class="form-gap" style="padding-top: 30px;"></div>
  <% if(error!="") { %>
   <h3 style="margin-left:50px;text-align: center;color: red"> <%=error%></h3>
   <%}%>
     <% if(success!="") { %>
   <h3 style="text-align: center;color: blue"> <%=success%></h3>
   <%}%>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
		<br>
		<br>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h2 class="text-center">Reset <br>&nbsp;&nbsp;&nbsp;Password&nbsp;&nbsp;&nbsp;<i class="material-icons right">build</i></h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form id="register-form" action="/changePassword/changePassword/updatepwd" role="form" autocomplete="off" class="form" method="post">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input id="empid" name="empid" required placeholder="Employee ID" class="form-control" type="text">
						</div>
						<br>
						 <div class="input-group">
							<span class="input-group-addon"><i class="	glyphicon glyphicon-asterisk"></i></span>
							<input id="oldpass" required name="oldpass" placeholder="Old Password" class="form-control" type="password">
						 </div>
						<br>
						 <div class="input-group">
							<span class="input-group-addon"><i class="	glyphicon glyphicon-asterisk"></i></span>
							<input id="newpass" required name="newpass" placeholder="New Password" class="form-control" onblur="comparepass();" type="password">
						 </div>
							<br>
						 <div class="input-group">
							<span class="input-group-addon"><i class="	glyphicon glyphicon-asterisk"></i></span>
							<input id="conpass" required name="conpass" placeholder="Confirm Password" class="form-control" onblur="comparepass1();" type="password">
						 </div>
                      </div>
                      <div class="form-group">

                          
                          
                    <input name="recover-submit" id="resetPass" class="btn btn-lg btn-process btn-block" value="Reset Password" type="submit">
                    <br>
                    <a href="/changePassword/changePassword/loginpage"><span class="glyphicon glyphicon-arrow-left backLink"> Back</a>                  
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
   
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>

</body>
    <script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>

        <!--  Checkbox, Radio & Switch Plugins -->
        <script src="/js/bootstrap-checkbox-radio-switch.js"></script>

        <!--  Charts Plugin -->
        <script src="/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
        <script src="/js/light-bootstrap-dashboard.js"></script>

  <script src="/js/demo.js"></script>

      
        <% if(error1!="") { %>

        <script type="text/javascript">
        $(document).ready(function(){

                demo.initChartist();

                $.notify({
                icon: 'pe-7s-gift',
                message:"<b><%= error1 %></b>"

            },{
                type: 'info',
                timer: 500
            });

        });

        </script>
        <%}%>
      
</html>
