body {
    /* background: linear-gradient(-100deg, #bd5d4d 0%, #555e6f 100%); */
    background-color: #dadbd4 !important;
    
}
.zeroPad{
     padding:0px !important;
}
.h100pc{
    height:100% !important;
}
.loginForm{
    margin-top: 70px;
    font-family: roboto;
    letter-spacing: 0px;
    background-color: #de4b1f;
    margin-right: 58px;
    padding: 29px;
}
.loginError{
    color: #FF0000;
    font-size: 20px;    
}
.width60pc{
    width:60% !important;
}
.width80pc{
    width:80% !important;
}
.noticeBoard{
    color: #f0f3e2 !important;
    background-color: #de4b1f !important;
    padding: 20px !important;
    
    text-align: justify;
}
.noticeHead{
    font-size: 30px !important;
    padding-bottom: 10px;
}
.noticeContent{

}
.blink_me {
    animation: blinker 1s linear infinite;
  }
  
@keyframes blinker {  
    99% { opacity: 0; }
 }
.nav li a{
    color: #f0f3e2 !important;
}
.nav li a:hover{
    
    text-decoration: underline;
}
a{
    color: #f3e659  !important;
}
a:hover, a:focus {
    color: #f3e659  !important;
    text-decoration: underline;
}
.nav li a span{
    color: #000 !important;
}
.navbar-inverse .nav li a span{
    color: #f7c615 !important;
}
.dropdown-menu>li>a {
    color: #de4b1f !important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #3E4ABA !important;
    text-decoration: underline;
    
}
.btn-info.btn-fill {
    background-color: #f0f3e2 !important;
    color: #222222 !important;
    border: 1px solid #222222 !important;
}
.btn-warning {
    color: #de4b1f !important;
    background-color: #f3e659 !important;
    border-color: #de4b1f !important;
    width: 150px;
    float: right;
    margin-top: 10px;
}
.btn-warning:hover {
    color: #de4b1f !important;
    background-color: #e8d810 !important;
    border-color: #de4b1f !important;
    width: 150px;
    float: right;
    margin-top: 10px;
}
.btn-process {
    color: #ffffff !important;
    background-color: #5964ea !important;
    
    width: 150px;
    float: right;
    margin-top: 10px;
}
.btn-process:hover {
    color: #ffffff !important;
    background-color: #424cbe !important;
    
    width: 150px;
    float: right;
    margin-top: 10px;
}
button:focus {
    outline:0 !important;
}
.alert-info {
    color: #000000 !important;
    background-color: #87dcef !important;
    border-color: #74c6d6 !important;
}
.glyphColor{
    color: #5964ea !important;
}
.greyColor{
    color: #222222 !important;
}
.portalColor{
    color: #de4b1f !important;
}
.backLink{
    margin-top: 20px;
    font-size: 20px;
    color: #4a4747;
}
.btnLink{
    background-color: #f3e659  !important;
    border-color: transparent !important;
    color: #000000 !important;
}
.btnLink:hover{
    background-color: #f3e659  !important;
    border-color: transparent !important;
    color: #000000 !important;
}