/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.submenuhead a {
	color: black;
}
.submenuhead a:visited {
        color: black;
}
.submenuhead a:hover {
        color: black;
}
.submenuhead a:active {
        color: black;
}
.submenuhead a:focus {
        color: black;
}
.submenucontent a {
        color: #0516fb;
}
.submenucontent a:visited {
        color: #0516fb;
}
.submenucontent a:hover {
        color: #0516fb;
	text-decoration: underline;
}
.submenucontent a:active {
        color: #0516fb;
}
.submenucontent a:focus {
        color: #0516fb;
}
