<!doctype html>
<html lang="en">
<head>
        <% include ../common/header %>
        <% include ../common/scripts %>
        <% include ../common/styles %>
        <title>E-Docket</title>

	<style>
		.navbar .navbar-reverse
		{
			display: inline-block;
			float: none;
			vertical-align: top;
		}

		.navbar .navbar-collapse
		{
			text-align: center;
		}

		table, tr, td
		{
		    border: 0px;
		    padding: 2px;
		}

		table
		{
			border-spacing: 0px;
		}

		hr
		{
			border: none;
			height: 1px;
			color: #333;
			background-color: #333;
		}

                 /* visited link */
                a:visited {
                    color: black;
                }

                /* mouse over link */
                a:hover {
                    color: black;
                    text-decoration: underline;
                }

                /* selected link */
                a:active {
                    color: black;
                }

	</style>

</head>
<body onload="changeHashOnLoad();">

<div class="wrapper">
    <div class="sidebar" style="background-color: transparent;color: #006666">
    <!--
        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag
    -->
    	<div class="sidebar-wrapper">
            <% include ../common/logo %>

            <ul class="nav">
                <li>
                    <a href="/admin-dashboard/adminDashboard/admindashboard">
			<i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
 		    <% if(emp_access == "A1"){%>
                    <a href="/employeeModule/employeeDetails/employeeDetails">
			<i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}else{%>
                    <a href="/employeeModule/employeeDetails/employeeAddpersonal">
			<i class="material-icons">person</i>
                        <p>Employee Details</p>
                    </a>
                    <%}%>
                </li>
		
		<% if(emp_access == "L1" || emp_access == "L2" ){%>
                <li>
                    <a href="/projectModule/projectDetails/customercreation">
			<i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
		<%}%>
		
		<% if(emp_access == "F1"){%>
                <li>
                    <a href="/projectModule/projectDetails/projectDocumentsView">
                        <i class="material-icons">pie_chart</i>
                        <p>Project Module</p>
                    </a>
                </li>
                <%}%>

		<% if(emp_access != "F1"){%>
                <li>
                   <a href="/appraisalModule/viewAppraisal/viewAppraisal">
			<i class="material-icons">thumbs_up_down</i>
                        <p>Appraisal Module</p>
                    </a>
                </li>
		<%}%>

                <li class="active">
                    <a href="/cmsModule/cms/cms">
			<i class="fa fa-file-text" aria-hidden="true"></i>
                        <p>E-Docket</p>
                    </a>
                </li>
	
		<% if(emp_access == "N1"){%>
                <li>
                    <a href="/assetModule/assetDetails/assetDetails">
			<i class="material-icons">phonelink</i>
                        <p>Asset Management</p>
                    </a>
                </li>
		<%}%>

		<li >
                    <a href="/requestModule/applyLeave/applyLeave">
			<i class="material-icons">event</i>
                        <p>Leave Requests</p>
                    </a>
                </li>

		<% if(emp_access == "A1" || emp_access == "F1"){%>
                <li>
                    <a href="/holidaysModule/holidays/viewHolidays">
			<i class="material-icons">date_range</i>
                        <p>Holiday Management</p>
                    </a>
                </li>
		<%}%>

		<% if(emp_access != 'A1'){ %>
                <li>
                   <% if(emp_access != "F1"){ %> 
                    <a href="/travelModule/travel/travel">
			<i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                  <%}else{%>   
                    <a href="/travelModule/travel/travelHrReqQueue">
			<i class="material-icons">flight</i>
                        <p>Travel Requests</p>
                    </a>
                   <% } %>
                </li>
		<% } %>


		<% if( emp_access== 'F1'){ %>
		<li>
                    <a href="/invoiceModule/invoiceDetails/chooseinvoiceDetails">
			<i class="material-icons">storage</i>
                        <p>Invoice Management</p>
                    </a>
		</li>
		<% } %>

		<% if(emp_access != 'A1'){ %>
		<li>
		   <% if(emp_access != "F1" ){ %>
                    <a href="/reimbursementModule/initiateRem/initiateRem">
			<i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
		   <%}else{%>
                    <a href="/reimbursementModule/initiateRem/reimburseHrReqQueue">
			<i class="material-icons">receipt</i>
                        <p>Claims</p>
                    </a>
		   <%}%>
                </li>
		<% } %>
            </ul>
    	</div>
    </div>

<div class="main-panel">
<div class="container-fluid">
        <% include ../common/userBar%>
<br>

   <div class="content">
      <div class="container-fluid">
         <div class="row">
	    <div class="col">
	       <div class="card">
                  <div class="header2row">
                     <nav class="navbar navbar-inverse">
                        <ul class="nav navbar-nav" style="color:#669999">
			<% if(emp_access == "A1" ){%>
				<li><a href="/cmsModule/cms/cmsUploadAdmin">Upload Documents</a></li>
				<li><a href="/cmsModule/cms/cmsApprAdmin">Approval Pending</a></li>
				<li><a href="/cmsModule/cms/cmsViewAdmin">View Documents</a></li>
				<% if(emp_access == "A1"){%>
					<li><a href="/cmsModule/cms/policyUploadAdmin">Upload Policy Docs</a></li>
				<% } %>
				<li><a href="/cmsModule/cms/policyViewAdmin">View Policy Docs</a></li>
				<% if(emp_access == "A1"){%>
					<li><a href="/cmsModule/cms/magazineUploadAdmin">Upload Magazines</a></li>
				<% } %>
				<li><a href="/cmsModule/cms/magazineViewAdmin">View Magazines</a></li>
			<% } else { %>
				<li><a href="/cmsModule/cms/cmsUploadEmployee">Upload Documents</a></li>
                                <li><a href="/cmsModule/cms/cmsViewStatusEmployee">View Status</a></li>
                                <li><a href="/cmsModule/cms/cmsViewEmployee">View Documents</a></li>
				<li><a href="/cmsModule/cms/policyViewEmployee">View Policy Docs</a></li>
				<li><a href="/cmsModule/cms/magazineViewEmployee">View Magazines</a></li>
			<%} %>
			<li><a href="/cmsModule/cmsFAQDetails/cmsFAQDetails"><span style="color:#ff6600">FAQ</span></a></li>
			</ul>
		     </nav>
		  </div>
		  <div class="content">
			<hr/>
				<h4 class="title">E-Docket FAQs <i class="fa fa-question-circle" aria-hidden="true"></i></h4>
			<hr/>
        
<br>
	<p>Here are just some of our most commonly asked questions. </p>	
<br>
   
   <div>
    <div class="panel">
      <div class="panel-heading" style="background-color: lightgrey;">
	<div class="submenuhead" >
	 <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#a">
         <h4 class="panel-title">
             Q1. What is the importance of E-Docket?         
         </h4>
         </a>
	</div>
     </div>
    </div>
    <div id="a" class="panel-collapse collapse">
      <div class="panel-body" style="margin-top: -20px;">
        <p>Online archive of all the verified document like Government documents, Educational documents, Medical documents etc.,
		</p>
      </div>
    </div>
   </div>
	
	<div>
    <div class="panel">
    <div class="panel-heading" style="background-color: lightgrey;">
        <div class="submenuhead" >
        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#b">
              <h4 class="panel-title">
                 Q2. Do i need to verify my documents before upload ? How?
              </h4>
        </a>
        </div>
    </div>
    </div>
    <div id="b" class="panel-collapse collapse">
      <div class="panel-body" style="margin-top: -20px;">
        <p> Yes.Copy of the documents would be signed & stamped by Usha, after verifying the same against your original.<br> This signed and stamped copy needs to be uploaded into System. 
        </p>

      </div>
    </div>
   </div>



  <div>
    <div class="panel">
    <div class="panel-heading" style="background-color: lightgrey;">
	<div class="submenuhead" >
        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#c">
	      <h4 class="panel-title">
		 Q3. What if documents uploaded are wrong?        
	      </h4>
        </a>
	</div>
    </div>
    </div>
    <div id="c" class="panel-collapse collapse">
      <div class="panel-body" style="margin-top: -20px;">
        <p> Documents will be uploaded into the E-Docket only once verified by Usha-Head HR.
	</p>

      </div>
    </div>
   </div>
   <div>
    <div class="panel">
    <div class="panel-heading" style="background-color: lightgrey;">
	<div class="submenuhead" >
        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#d">
	      <h4 class="panel-title">
		 Q4. Limitations for upload documents?       
	      </h4>
        </a>
	</div>
    </div>
    </div>
    <div id="d" class="panel-collapse collapse">
      <div class="panel-body" style="margin-top: -20px;">
        <p>	I. Only attested docs to be uploaded. <br>
			II. Photo size ranges between 20kb and 50kb. <br>
			II. Photo format should be jpg or jpeg.<br>
			III. Other documents(Excluding photo) size should be less than 1MB.<br>
			IV. Other documents(Excluding photo and Resume) format should be pdf.<br>
			V. Resume document format should be doc or docx.<br>
		</p>
      </div>
     </div>
   </div>

   <div>
     <div class="panel">
     <div class="panel-heading" style="background-color: lightgrey;">
	<div class="submenuhead" >
        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#e">
	      <h4 class="panel-title">
		 Q5. The repercussions of not uploading documents?      
	      </h4>
        </a>
	</div>
     </div>
     </div>
     <div id="e" class="panel-collapse collapse">
      <div class="panel-body" style="margin-top: -20px;">
        <p>	I.   The login would be deactivated within a month (jan 30th 2018).<br>
		II.  You will have to contact Usha for new login credentials.<br>
                III. There will be a direct impact on project allocation , appraisal and  leave management etc. 
		</p>
      </div>
     </div>
   </div>
	
   <div>
     <div class="panel">
     <div class="panel-heading" style="background-color: lightgrey;">
	<div class="submenuhead" >
        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#f">
	      <h4 class="panel-title">
		 Q6. Mandatory documents to be uploaded?        
	      </h4>
        </a>
	</div>
     </div>
     </div>
     <div id="f" class="panel-collapse collapse">
      <div class="panel-body" style="margin-top: -20px;">
        <p>	<i>Government Documents:</i><br>
				I. Pan card<br>
				II. Aadhar card<br>
			<i>Educational Documents:</i><br>
				I. SSLC<br>
				II. Pre University<br>
				III. Degree<br>
	</p>
      </div>
      </div>
   </div>
	
	
    <div>
        <div class="panel">
            <div class="panel-heading" style="background-color: lightgrey;">
		<div class="submenuhead" >
        	<a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#h">
			<h4 class="panel-title">
		  		Q8. Incase of updatation/reissue of documents how can i update the same on the system?    
			</h4>
		</a>
		</div>
            </div>
	</div>
	<div id="h" class="panel-collapse collapse">
	    <div class="panel-body" style="margin-top: -20px;">
		<p>Please follow the same process of getting the copy verified against original.</p>
	    </div>
    	</div>
    </div>
				
		  </div>
               </div>
           </div>
        </div>
     </div>
  </div>

    </div>
        <% include ../common/footer %>
</div>


</body>

    <% if(success!="") { %>
       <script type="text/javascript">
        $(document).ready(function(){

                demo.initChartist();

                $.notify({
                icon: 'fa fa-exclamation-circle',
                message:"<b><%= success %></b>"

            },{
                type: 'info',
                timer: 500
            });

        });
        </script>
    <%}%>

    <% if(error!="") { %>
      <script type="text/javascript">
      $(document).ready(function(){
      demo.initChartist();
      $.notify({
      icon: 'fa fa-exclamation-circle',
      message:"<b><%= error %></b>"
      },{
         type: 'danger',
         timer: 500
      });
      });
      </script>
   <%}%>
</html>
