<!--<footer class="footer">-->
<footer class="footer" style="background-color: transparent;border-color: transparent">
    <div class="container-fluid">
        <p class="copyright pull-right" style="color:white;">
            &copy; 2017 
            <a href="http://www.nurture.co.in" target="_blank">
                <span style="color:black">Nurture Software Solutions Pvt. Ltd.</span>
            </a>
        </p>
    </div>
</footer>
