<div class="logo">
    <img src="/images/amber.png" alt="logo" height="85" /> 
    <!-- <a href="#" class="logoText">
        <i class="fa fa-eercast" style="font-size: 28px;" aria-hidden="true"></i>
        Amber
    </a> -->
</div>